@model SistemaGeonet.Models.OrdenPedido

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>OrdenPedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdOrdenPedido" />
            <div class="form-group">
                <label asp-for="IdCarritoOrden" class="control-label"></label>
                <select asp-for="IdCarritoOrden" class="form-control" asp-items="ViewBag.IdCarritoOrden"></select>
                <span asp-validation-for="IdCarritoOrden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechapedido" class="control-label"></label>
                <input asp-for="fechapedido" class="form-control" />
                <span asp-validation-for="fechapedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label"></label>
                <input asp-for="direccion" class="form-control" />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMetodoPago" class="control-label"></label>
                <select asp-for="IdMetodoPago" class="form-control" asp-items="ViewBag.IdMetodoPago"></select>
                <span asp-validation-for="IdMetodoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPago" class="control-label"></label>
                <input asp-for="IdPago" class="form-control" />
                <span asp-validation-for="IdPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
